*.asv
*.mzXML
*.imzML
*.ibd
*.mat
*.raw
*.csv
*.map
*.txt
*.ply
*.biomap
*.tmp
*.png
*.mzML
*.pptx
*.tif

# /test.txt

# /test2.txt

# /test3.txt

/STORM_MSI/

/files/*/*

code/code_python/settings/*txt